.button {
  margin-top: 30px;
  margin-left: 50px;
  padding: 10px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(192, 143, 109);
  font-size: 18px;
  font-style: italic;
}

.button:hover {
  background-color: rgb(140, 103, 79);
}
